.Event{
   background-color: whitesmoke;
   border: 5px solid;

   > h1{
    background-color: lightgray;
    width: 20rem;
    margin: 2rem auto;
    border-radius: 10px;
   }
   > .event-image{

        border: 2px solid ;        
        // width: min-content;
        margin: 2rem auto;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        // flex-flow: column nowrap;

        > img{
            // width: 500px;
            max-width: 600px;
            min-width: 400px;
            width: min(100% - 15px, 900px) ;
            margin-inline: auto;
            height: 300px;
            border: 2px solid gray;
            // margin: 0 auto;
            grid-area: 1/1/4/4;
        }

        button{
            padding: .5rem 1rem;
            border-radius: 3rem;
            margin: 2rem auto;

            grid-area: 3/3/4/4;
        }
    }

    .description-map{
        background-color: whitesmoke;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 10px solid lightgray;
        padding:1rem 2rem;

        .info{
            background-color: lightgray
            ;
            padding: 1rem 0;
            border: 5px solid lightgray;
            height: fit-content;
            justify-self: center;
            align-self: center;
            text-align: left;

            > button{


                &:hover{

                }
            }

            > label{

            }
            > input{

            }

            ul{
                line-height: 2.5;
                list-style: none;
                li{

                }
            }

            .description{
                margin-top: 2rem;

            }
        }

        .map{
            width: 39rem;
            min-height: 20rem;

            .google-map{

            }
        }

    }

    .comments{
        padding: 4rem 0;

        h3{
            text-decoration: double underline goldenrod;
        }

        ul{
            margin: 2rem;
            background-color: lightgray;
            max-height: 40vh;
            overflow:auto;
            list-style: none;

            li{
                margin: .5rem auto;
                padding: .5rem;
                width: fit-content;
                border: 2px solid darkblue;
            }
        }
    } 
}