
/*------------------------------Layout--------------------------------------*/
html{
    border-style: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body{
    min-height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
/*------------------------------Navigation--------------------------------------*/
.nav-component{
    padding: 0,7rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border: 1px solid black;
    background: rgb(247,247,203);
    background: linear-gradient(130deg, rgba(247,247,203,1) 0%, rgba(230,180,180,1) 43%, rgba(176,194,222,1) 100%);
    
}
.nav{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-btn{
    margin: 5px;
    background-color: #D4E3FC;
    box-shadow: 1px 1px 3px gray;
}
.nav-btn a{
    text-decoration: none;
    color: rgb(16, 16, 16);
}

/*------------------------------HOME--------------------------------------*/

.home-bg-img-div{
    width: 100vw;
    height: 95vh;
    background: url('https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size:cover;
}
.home-explore-events-div{
  background-color: rgba(0,0,0, 0.6); 
  font-weight: bold;
  border: 2px solid #EAE4D5;
  border-radius: 15px;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;
}

.home-explore-events-div a {
    text-decoration: none;
    color: #EAE4D5;
}
.home-explore-events-div a:hover{
    color: orange;
}


/*------------------------------LOGIN + Regist------------------------------------*/

.login-form{
    border: 1px solid gray;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 30px;
    padding-bottom: 50px;
    background-color: rgb(234, 228, 213, 0.6);
    text-align: start;
}

.login-bg-img-div{
    width: 100vw;
    height: 95vh;
    background: url('../../public/images/login-background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size:cover;
}

.regist-bg-img-div{
    width: 100vw;
    height: 95vh;
    background: url('../../public/images/regist-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size:cover;
    filter: grayscale(10%);
}

/*------------------------------user account------------------------------------*/

.userAccount_div{
    margin: 0 auto;
    text-align: center;
}
.userAccount_div p {
   background-color: #fee7e7;
   font-size: 1.3rem;
}
.userAccount_div ul{
    text-align: left;
}
.sub-nav-list span{
    display: flex;
    justify-content:space-around;
    align-items: start;
    padding: 0.5rem;
}

/*------------------------------Events------------------------------------*/

.Events-List > .cards-list{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 20px;
    margin: 50px 25px;
}

.card{
    width: 300px;
    padding: 0 25px;
}

.card-image{
    padding: 70px;
    background-color: cornflowerblue;
    margin-bottom: 25px;
    margin-top: 15px;
}

.card > ul{
    text-align: left;
    margin-top: 20px;
}

/*------------------------------new Event------------------------------------*/

.event-image{
    padding: 100px;
    background-color: cornflowerblue;
    margin: 25px 0;
    position: relative;
}
.event-image > button{
    padding: 10px 35px;
    border-radius: 10px;
    position: absolute;
    right: 50px;
    bottom: 25px;
}
.description-map{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    padding: 10px 0;
}

.map{
    padding: 50px;
    background-color: goldenrod;

}