.Navigation {
  position: relative;
  height: 100%;
  width: 100%;

  .nav-container {
    // background-color: rgba(245, 245, 245, 0.5);
    // background-image: linear-gradient(to top, cyan, blue);
    border-bottom: 2px solid whitesmoke;
    z-index: 10;
    padding: 0.5rem;

    display: flex;
    justify-content: space-around;
    gap: 25px;

    position: sticky;
    top: 0;

    .nav-buttons {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .nav-buttons > .nav-button {
      margin: 0 1rem;
      overflow: hidden;
    }

    &.top-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #00baf0;
      // background: linear-gradient(to left, #f46b45, #eea849);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: #fff;
      height: 50px;
      padding: 1em;
    }

    .menu-button-container {
      display: none;
      height: 100%;
      width: 30px;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #menu-toggle {
      display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
      display: block;
      background-color: black;
      position: absolute;
      height: 4px;
      width: 30px;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
    }

    .menu-button::before {
      content: "";
      margin-top: -8px;
    }

    .menu-button::after {
      content: "";
      margin-top: 8px;
    }

    #menu-toggle:checked + .menu-button-container .menu-button::before {
      margin-top: 0px;
      transform: rotate(405deg);
    }

    #menu-toggle:checked + .menu-button-container .menu-button {
      background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked + .menu-button-container .menu-button::after {
      margin-top: 0px;
      transform: rotate(-405deg);
    }

    @media (max-width: 904px) {
      max-width: 96%;
      .menu-button-container {
        display: flex;
      }
      .nav-buttons {
        position: absolute;
        top: 0;
        margin: 1rem auto ;
        // right: 0;
        flex-direction: column;
        width: 70%;
        transform: translate(18%, 50%);
        justify-content: center;
        align-items: center;
        border-radius: 100px 200px;
      }
      #menu-toggle ~ .nav-buttons .nav-button {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .nav-buttons .nav-button {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .nav-buttons > .nav-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
      }
      .nav-buttons > .nav-button:not(:last-child) {
        border-bottom: 1px solid rgb(115, 39, 39);
      }
    }

    > h2,
    > p {
      align-self: center;
      color: black;
      text-decoration: underline double whitesmoke;
    }
    .nav-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      &:hover{
        // background-color: rgb(0, 0, 0,.5);
      }

      > .nav-button,
      > a {
        background-color: rgba(1, 0, 0, 0.391);
        font-size: 1rem;
        font-weight: bolder;
        padding: 0.5rem 0.5rem;
        min-width: 5rem;
        max-height: 1.5rem;
        color: white;
        text-decoration: none;
        white-space: nowrap;
        border-radius: 30px 10px;
        text-shadow: -2px -2px 2px black, -2px 2px black;
        @media (max-width: 769px) {
          // display: none;

       
        }

        &:hover {
          transform: scale(1.5);
          background-color: black;
        }

        a {
          display: inline-block;
          position: relative;
          color: white;
          text-decoration: none;

          &:after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 5px;
            bottom: -5px;
            left: 0;
            background-color: goldenrod;
            transform-origin: bottom right;
            transition: transform 0.5s ease-out;
          }

          &:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }

      
    }
  }

  .components-body {
    min-height: 70vh;
    //   background-color: grey;
    z-index: 1;
  }

  footer {
    color: whitesmoke;
    height: 20vh;
    margin-top: 2vh;
    width: 100%;
  }
}
